body, html {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


}
input[type='number'] {
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    outline: none;
    border: 4px solid #2ecc71;
    box-shadow: none; 
}
input[type='range'] {
    width: 100%;
    -webkit-appearance: none !important;
    background: #2ecc71;
    height: 4px;
    outline: none;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #27ae60;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.tip-calculator {
    width: 300px;
    height: 400px;
}